<script src="app.component.ts"></script>
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onChangeFirst()">Change first</button>
    <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first</button>
      <app-server-entity *ngFor="let entity of serverElements"
        [entity]="entity"
        [name]="entity.name">
        <p #contentParagraph>
          <strong *ngIf="entity.type === 'server'"
            style="color: red">{{ entity.content }}</strong>
          <em *ngIf="entity.type === 'blueprint'">{{ entity.content }}</em>
        </p>
      </app-server-entity>
    </div>
  </div>
</div>
