.loading-bar {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  box-sizing: content-box;
  margin: auto;
}

.loading-bar-element {
  width: 0;
  height: 20px;
  background-color: deepskyblue;
  animation: loading 1s ease-in infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
