:host {
    display: flex;
    flex: row;

    span {
        color: goldenrod;
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;

        span {
            color: lightgray;
        }
    }
    &.readonly {
        span {
            cursor: unset;
        }
    }
}