
<div class="create-course-panel data-form">

  <h2 class="title">Create New Course</h2>

  <mat-horizontal-stepper
    [linear]="false"
    class="mat-elevation-z5"
    labelPosition="bottom"
  >
    <mat-step [stepControl]="step1.form" errorMessage="Error for landing page">
      <ng-template matStepLabel>Course Landing Page Detail</ng-template>
      <create-course-step-1 #step1></create-course-step-1>

      <div class="stepper-buttons">
        <button mat-raised-button
                color="primary"
                matStepperNext
        >Continue</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="step2.form" errorMessage="Error in pricing">
      <create-course-step-2 #step2></create-course-step-2>

      <ng-template matStepLabel>Course Pricing details</ng-template>
      <div class="stepper-buttons">
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button color="primary" matStepperNext>Continue</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="step3.form" errorMessage="Course lessons in error">
      <ng-template matStepLabel>course lessons</ng-template>

      <create-course-step-3 #step3></create-course-step-3>
      <div class="stepper-buttons">
        <button mat-raised-button matStepperPrevious></button>
        <button mat-raised-button
                color="primary"
                [disabled]="!step3.form.valid"
        >Create Course</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>
</div>
