<input
    type="file"
    class="file-input"
    #fileUpload
    (change)="onFileSelected($event)"
/>
<div class="file-upload">
    <mat-form-field>
        <input matInput disabled="true" [value]="filename" />
    </mat-form-field>
    <button
        mat-mini-fab
        class="upload-btn"
        color="primary"
        (click)="onClick(fileUpload)"
        [disabled]="isDisabled"
    >
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="uploadProgress"
    *ngIf="uploadProgress"
></mat-progress-bar>
