:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-list,
.todo-input {
  width: 100%;
  position: relative;
}

.todo-input mat-icon {
  position: absolute;
  right: 4px;
  bottom: calc(50% - 12px);
  display: inline-block;
  color: blue;
}

.todo-item {
  display: flex;
  align-items: center;
  span {
    color: blue;
  }
}

.delete-todo {
  margin: 10px;
  cursor: pointer;
  padding-bottom: 8px;
  color: red;
}
