<h1>ToDo List</h1>

<mat-form-field class="todo-input">
  <mat-label>Neues To Do</mat-label>
  <input matInput #input (keyup.enter)="onAddTodo(input.value)" />
  <mat-icon>edit</mat-icon>
</mat-form-field>

<mat-button-toggle-group #filter (change)="onFilterTodos($event)">
  <mat-button-toggle value="all">Alle</mat-button-toggle>
  <mat-button-toggle value="pending">Nicht abgeschlossen</mat-button-toggle>
  <mat-button-toggle value="completed">Abgeschlossen</mat-button-toggle>
</mat-button-toggle-group>

<mat-selKection-list class="todos-list">
  @for (todo of store.filteredTodos(); track todo.id; let idx = $index) {
    <mat-list-option
      [selected]="todo.completed"
      (selectedChange)="onTodoToggled(todo.id, $event)">
      <div class="todo-item">
        <span
          [ngStyle]="{
            'text-decoration': todo.completed ? 'line-through' : 'none',
          }"
          >{{ todo.title }}</span
        >
        <mat-icon class="delete-todo" (click)="onDeleteTodo(todo.id, $event)"
          >delete</mat-icon
        >
      </div>
    </mat-list-option>
  }
</mat-selKection-list>
