<div [formGroup]="form">

  <mat-form-field>
    <input type="text"
           matInput
           placeholder="Course title"
           formControlName="title"
           #title
    >

    <mat-hint align="end">
      {{title.value.length}} / 60
    </mat-hint>

    <mat-error *ngIf="courseTitle.errors?.titleExists">
      This title is already being used.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="select category"
                formControlName="category"
    >
      <ng-container *ngFor="let category of (courseCategories$ | async)">
        <mat-option [value]="category.code">{{category.description}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           matInput
           [matDatepicker]="releaseDatepicker"
           formControlName="releasedAt"
           placeholder="Release date"
    >
    <mat-datepicker-toggle #releaseDatepickerToggle
                           [for]="releaseDatepicker"
                           matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #releaseDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox color="primary"
                formControlName="downloadsAllowed">
    Downloads allowed
  </mat-checkbox>

  <mat-form-field appearance="outline">
    <textarea name=""
              matInput
              formControlName="descriptionLong"
              placeholder="description field"
              cols="30"
              rows="10">
      </textarea>
  </mat-form-field>

</div>

<div class="form-val">
  {{ form.value | json}}
</div>
